<nav class="navbar navbar-expand-lg navbar-light bg-faded navbar-inverse bg-primary">
    <a class="navbar-brand" routerLink="/home">{{titulo}}</a>
	<button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" 
			type="button" data-toggle="collapse" data-target="#navbarNav"
			 aria-controls="navbarNav" aria-expanded="false" 
			 aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" [class.show]="show" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home
				<span class="sr-only">(current)</span>
			</a>
			<a class="nav-item nav-link" routerLink="/llamadas" routerLinkActive="active">Llamadas</a>
			<a class="nav-item nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
			
		</div>
	</div>
</nav>