/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

form {
    background-color: #f2f2f2;
    margin: 2em;
    padding: 2em, 1em, 2em, 1em;
}

button[type="submit"] {
    margin-right: 1em;
}

.container {
    display: flex;
}

.marcador {
    margin: 1em 0;
    text-transform: uppercase;
    display: inline-block
}

.infoPeddit {
    display: inline-block;
}

.totalVotos {
    font-size: 4em;
    line-height: 1em;
    text-align: center;
}

.totalPuntos {
    color: inherit;
    display: block;
    font-size: 1em;
    text-align: center;
}

.votos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    padding: 1em 0;
    border-radius: 5px;
}

.votaciones {
    clear: both;
    width: 100%;
}

.row {
    margin-bottom: 2em;
}