<div class="container pt-5">
    <div class="container justify-content-center">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt, alias magnam dolor esse error laudantium ex fuga labore. 
            Doloribus unde ex non beatae qui ab dolore? Illo natus nemo libero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt, alias magnam dolor esse error laudantium ex fuga labore. 
            Doloribus unde ex non beatae qui ab dolore? Illo natus nemo libero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt, alias magnam dolor esse error laudantium ex fuga labore. 
            Doloribus unde ex non beatae qui ab dolore? Illo natus nemo libero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt, alias magnam dolor esse error laudantium ex fuga labore. 
            Doloribus unde ex non beatae qui ab dolore? Illo natus nemo libero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt, alias magnam dolor esse error laudantium ex fuga labore. 
            Doloribus unde ex non beatae qui ab dolore? Illo natus nemo libero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt, alias magnam dolor esse error laudantium ex fuga labore. 
            Doloribus unde ex non beatae qui ab dolore? Illo natus nemo libero.</p>
    </div>
</div>

